*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/libre-messages-app-5457048fb57f.json
/app/src/main/java/com/roa/libremessagesapp/AccessToken.kt
/app/src/main/res/raw/service_account.json
